html, body {
    height: 100%;
    margin: 0;
}

div {
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
}

.top {
    color: rgb(0, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
}

.row {
    height: 50%;
}

.column {
    float: left;
    width: 50%;
    padding: 60px;
    transition: 0.3s;
    transition-delay: 0.01s;
    height: 100%;
}
#ai {
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column.expanded {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
}

.center {
    text-align: center;
}

.hidden-text {
    display: none;
}


table, th, td {
    border:1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

#submit {
    background-color: #4f752e;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#submit:hover {
    background-color: #0c3501;
    color: white;
    border: 1px solid white;
    transition-duration: 0.4s;
}